/*RESET*/

body, div, nav, li, ul, h2 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 3000px;
}

/*HEADER*/

.nav-bar, .nav-bar > ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  height: 70px;
}

.nav-bar {
  position: fixed;
  background: white;
  width: 95%;
  height: 45px;
  margin: 0 -47.5%;
  padding: 10px 0px;
  top: 0;
  left: 50%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.nav-bar li {
  padding: 0px 10px;
}

.logo {
  position: fixed;
  width: 100px;
  font-size: 28px;
  padding-top: 20px;
  top: 0;
  left: calc(50% - 50px);
}

/*MODAL*/

.info-section{
  position: fixed;
  width: 500px;
  height: 570px;
  right:2.5%;
  top:75px;
  text-align: center;
  font-weight: normal;
  overflow: hidden;
}

.info-section h2 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 32px;
}

.About{
  background: #98B9CC;
}

.Support{
  background: #A79EB7;
}

.info-section-links {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.info-section-links:hover {
  cursor: pointer;
}

.contact-visit-section {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px 0px 60px;
}

.info-modal-appear {
  height: 0px;
}

.info-modal-appear.info-modal-appear-active {
  height: 570px;
  transition: height 0.3s ease-in;
}

/*HOMEPAGE*/

.homepage {
  margin-top: 70px;
}

.banner {
  background:black;
  height: 370px;
}
